# Rookie Challenge

Now that we have some basic knowledge down, some useful tools in our toolbox, and have worked through some sports usecases, let's try a challenge!

I recommend opening a new notebook without the answers and use this notebook as a "Solution Manual"

## Problem Statement:

You are given several lists of data containing the information of several NFL QB prospects. The lists contain relevant NFL combine information including 40 yard dash times, bench press reps, and other measurements. 

Your job is to combine all of these lists into a Dataframe and then create a function that prints out a statement with each player and all of their data. Afterwards, create a list of players who's 40 times are under 4.6 seconds. This last part is quite a challenge at this point but DO NOT get discouraged and give it an honest effort before referring to the solution.

### Here are the lists, create a DataFrame

In [7]:
import pandas as pd
import numpy as np

#GET USED TO THESE IMPORTS =)

players = ['Trevor Lawrence','Mac Jones','Justin Fields','Zach Wilson','Trey Lance']
forty_times = [4.78,4.83,4.46,4.84,4.56]
bench_reps = [8,6,12,10,14]
height_inches = [78,75,75,74,76]
weight_pounds = [220,214,228,209,226]

NOW TRY FOR YOURSELF BEFORE PROCEEDING HERE

In [10]:
combine_dict = {'player': players, '40_time': forty_times,'bench_reps': bench_reps, 'height': height_inches,'weight': weight_pounds}
dataframe = pd.DataFrame(combine_dict)
dataframe

            player  40_time  bench_reps  height  weight
0  Trevor Lawrence     4.78           8      78     220
1        Mac Jones     4.83           6      75     214
2    Justin Fields     4.46          12      75     228
3      Zach Wilson     4.84          10      74     209
4       Trey Lance     4.56          14      76     226

### Let's use some tools we know!

Let's first create a function

In [16]:
def combine_printer(player,forty_time,bench_reps,height,weight):
    print(f"Player: {player}, 40 Time: {forty_time}, Bench Reps: {bench_reps}, Height: {height}, Weight: {weight}")

Let's bake it into a for loop!

In [17]:
for index, row in dataframe.iterrows():
    combine_printer(row['player'],row['40_time'],row['bench_reps'],row['height'],row['weight'])

Player: Trevor Lawrence, 40 Time: 4.78, Bench Reps: 8, Height: 78, Weight: 220
Player: Mac Jones, 40 Time: 4.83, Bench Reps: 6, Height: 75, Weight: 214
Player: Justin Fields, 40 Time: 4.46, Bench Reps: 12, Height: 75, Weight: 228
Player: Zach Wilson, 40 Time: 4.84, Bench Reps: 10, Height: 74, Weight: 209
Player: Trey Lance, 40 Time: 4.56, Bench Reps: 14, Height: 76, Weight: 226

### Extract Players with <4.6 40 times

In [20]:
fast_players=[]
for index, row in dataframe.iterrows():
    if row['40_time'] < 4.6:
        fast_players.append(row['player'])
        
fast_players

['Justin Fields', 'Trey Lance']

Ahh the power of a for loop with a nested if/else statement! You will find a lot more ways to use this logic in the future :)